@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600&display=swap');


*{
    font-family: 'Nunito', sans-serif;
    margin:0; padding:0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none; border:none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background:#9e4244;
    color:#333;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
}

html::-webkit-scrollbar{
    width:1.4rem;
}

html::-webkit-scrollbar-track{
    background:#222;
}

html::-webkit-scrollbar-thumb{
    background:#9e4244;
}

body{
    background:#f6acad;
    overflow-x: hidden;
    padding-left: 35rem;
}

section{
    min-height: 100vh;
    padding:1rem;
}

.btn{
    padding:.7rem 3rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn i{
    padding:0 .5rem;
    font-size: 1.8rem;
}

.btn:hover{
    background:#9e4244;
}

.heading{
    text-align: center;
    margin:0 6rem;
    font-size: 4rem;
    padding:1rem;
    border-bottom: .1rem solid #fff4;
    color:#000;
}

.heading span{
    color:#9e4244;
}

header{
    position: fixed;
    top:0; left:0;
    z-index: 1000;
    height:100%;
    width:35rem;
    background:#ffbfbf;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
}

header .user img{
    height:17rem;
    width:17rem;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 1rem;
    border:.7rem solid #9e4244;
}

header .user .name{
    font-size: 3.5rem;
    color:#000;

}

header .user .post{
    font-size: 2rem;
    color:#000;
}

header .navbar{
    width:100%;
}

header .navbar ul{
    list-style: none;
    padding:1rem 3rem;
}


header .navbar ul li a{
    display: block;
    padding:0.7rem;
    margin:0.8rem 0;
    background:#333;
    color:#fff;
    font-size: 2rem;
    border-radius: 5rem;
    transition: all 0.3 ease;
}

header .navbar ul li a:hover{
    background:#cd5e77;
}

#menu{
    position: fixed;
    top:2rem; right:2rem;
    background:#333;
    color:#fff;
    cursor: pointer;
    font-size: 2.5rem;
    padding:1rem 1.5rem;
    z-index: 1000;
    display: none;
}

.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding:0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color:#000;
}

.home h4{
    font-size: 1.5rem;
    color:#000;
}

.home h1{
    font-size:5rem;
    color:#000;
}

.home h1 span{
    color:#9e4244;
}

.home p{
    font-size:2rem;
    color:#000;
    padding: 1rem 0;
}
.img{
    background: url("https://scontent.fmnl17-1.fna.fbcdn.net/v/t1.15752-9/315528198_551579526790947_3652934629325857071_n.png?_nc_cat=100&ccb=1-7&_nc_sid=ae9488&_nc_ohc=HwfpeOqj3AIAX_9QtSh&_nc_ht=scontent.fmnl17-1.fna&oh=03_AdQ_SPMnOAn7IlkqGtKeMx_BrPGxETLT7DVyTfiRugPBuw&oe=63B408EC" )no-repeat center;
    background-position: top right;
    background-size: 950px 610px;
    min-height: 500px;
    padding-bottom: 120px;
}
.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    padding:1rem 0;
}

.about .row .info{
    flex:1 1 48rem;
    padding:.5rem 1rem;
    padding-left: 6rem;
}

.about .row .info h3{
    font-size: 2rem;
    color:#9e4244;
    padding: 1rem 0;
    font-weight: bold;
}

.about .row .info h3 span{
    color:#000;
    padding:0 .5rem;
}

.about .row .counter{
    flex:1 1 48rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width:20rem;
    background:#000;
    text-align: center;
    padding: 2rem;
    margin:2rem;
}

.about .row .counter .box span{
    font-size: 4rem;
    color:#9e4244;
}

.about .row .counter .box h3{
    font-size: 2rem;
    color:#fff;
}

.education .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.education .box-container .box{
    width:27rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #000;
    position: relative;
}

.education .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.education .box-container .box h3{
    font-size: 2rem;
    color:#9e4244;
    padding-top: 1.5rem;
}

.education .box-container .box p{
    font-size: 1.4rem;
    color:#000;
    padding: 1rem 0;
}

.education .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:#9e4244;
}

.experience .box-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    padding:1rem 0;
    padding-left: 3rem;
}

.experience .box-container .box{
    width:50rem;
    margin:4rem 1rem;
    padding-left: 4rem;
    border-left: .2rem solid #000;
    position: relative;
}

.experience .box-container .box span{
    font-size: 1.3rem;
    background:#222;
    color:#fff;
    border-radius: 5rem;
    padding:.5rem 2.5rem;
}

.experience .box-container .box h3{
    font-size: 2rem;
    color:#9e4244;
    padding-top: 1.5rem;
}

.experience .box-container .box p{
    font-size: 1.4rem;
    color:#000;
    padding: 1rem 0;
}

.experience .box-container .box i{
    position: absolute;
    top:-1.5rem; left:-2.5rem;
    height:5rem;
    width: 5rem;
    border-radius: 50%;
    line-height: 5rem;
    text-align: center;
    font-size: 2rem;
    color:#fff;
    background:#9e4244;
}

.contact .row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.contact .row .content{
    flex:1 1 30rem;
    padding:4rem;
    padding-bottom: 0;
}

.contact .row form{
    flex:1 1 45rem;
    padding:2rem;
    margin:2rem;
    margin-bottom: 4rem;
}

.contact .row form .box{
    padding:1.5rem;
    margin:1rem 0;
    background:#3333;
    color:#fff;
    text-transform: none;
    font-size: 1.7rem;
    width:100%;
}

.contact .row form .box::placeholder{
    text-transform: capitalize;
}

.contact .row form .message{
    height: 15rem;
    resize: none;
}

.contact .row .content .title{
    text-transform: uppercase;
    color:#000;
    font-size: 3rem;
}

.contact .row .content .info h3{
    display: flex;
    align-items: center;
    font-size: 2rem;
    color:#000;
    padding:1rem 0;
    font-weight: normal;
}

.contact .row .content .info h3 i{
    padding-right: 1rem;
    color:#9e4244;
}

.top{
    position: fixed;
    bottom:7.5rem; right: 2rem;
    z-index: 100;
    display: none;
}

.transition{
    animation: transitionIn 0.5s;
}

.square {
    position: relative;
    top: 40px;
    left: 100px;
    height: 400px;
    width: 700px;
    border-radius: 10px;
    background-color: #f4c2c2;
  }

.script1{
    animation: type1 1s steps(6);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    width: 6ch;
}
.script2{
    animation: type2 1s steps(112);
    overflow: hidden;
    white-space: nowrap;
    border-right: 2px solid black;
    width: 112ch;
}
@keyframes type1{
    0%{
        width: 0ch;
    }
    100%{
        width: 6ch;
    }
}

@keyframes type2{
    0%{
        width: 0ch;
    }
    100%{
        width: 112ch;
    }
}







/* media queries  */

@media (max-width:1200px){

    html{
        font-size: 55%;
    }

    .home{
        padding:1rem 4rem;
    }

}

@media (max-width:991px){

   header{
       left:-120%;
   }

   #menu{
       display: block;
   }

   header.toggle{
    left:0%;
   }

   body{
       padding:0;
   }

}

@media (max-width:768px){

    html{
        font-size: 50%;
    }
 
 }

@media (max-width:400px){

    header{
        width: 100vw;
    }

    .heading{
        margin:0 3rem;
    }

    .about .row .counter .box{
        width: 100%;
    }
 
    .education .box-container .box{
        width:100%;
    }

    .experience .box-container .box{
        width:100%;
    }

    .contact .row form{
        margin:3rem 0;
    }

 }

 @keyframes transitionIn{
    from{
        opacity: 0;
        transform: rotateX(-10deg);
    }
    to{
        opacity: 1;
        transform: rotateX(0);
    }
 }
